*{padding: 0; margin: 0 auto;}

/* phần header */
.container
{
    max-width: 98%; 
    padding: 0; 
    margin: 0 auto; 
    height: auto;
}

.header
{
    background-color: #c00404; 
    position: fixed; 
    height: 160px; 
    width: 100%;
    z-index: 2;
    width: 100%;
    margin-left: -1%;
}

.search
{
    /* position: relative; */
    width: 94%;height: 36px;
    border-radius: 7px;border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    background-color: #f0ecec; 
    padding-left: 1%;
}

.shop
{
    height: 41.5px;
    width: 40px;
    background-color: #bf0000;
    border: none;
    cursor: pointer;
}

.button
{
    width: 6%; 
    position: absolute;
    height: 36px; 
    font-size: 20px;
    background-color: black;
    border: none;
    border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px;
    cursor: pointer;
}

.content
{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 99%;
    height: 65px;
    border-radius: 7px;
    margin-top: 5px;
    
}

.content .menu
{
    width:1100px;
}

.content .menu 
{
    list-style: none;
}

.menu li a
{
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
}

.menu li
{
    position: relative;
}

.menu .sub-menu 
{ 
    display: none; 
    position: absolute;
    padding: 15px 0px;
    list-style: none;
    width: 160px;
    height: 345px;
    background-color: #fff;
    margin-top: 10px;
    margin-left: -10px;
    transition: all 0.3s ease-in-out;
}

.content .menu
{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 20px;
}

.menu .sub-menu a
{
    /* margin-top: -15px; */
    padding: 20px;
    padding-left:20px;
    color: black;
    font-size: 12px; 
}

.menu >li>a
{
    position: relative;
}

.menu .sub-menu a
{
    left: 0px;
}

.menu >li>a::before 
{
    height: 5px;
    width: 150%;
    content: "";
    background: #55595c;
    position: absolute;
    bottom: -10px;
    left: -10px;
    display: none;
}

.menu >li .tc::before 
{
    height: 5px;
    width: 120%;
    content: "";
    background: #55595c;
    position: absolute;
    bottom: -10px;
    left: -10px;
    display: none;
}
.menu .sub-menu .sub-menu
{
    left: 170px;
    top: -15px;
    height: 345px;
    width: 150px;
}

.menu li:hover >.sub-menu
{
    display: block;
    transition-delay: 0.2s;
}

.menu >li:hover>a::before
{
    display: block;
}

.menu .sub-menu li > a 
{
    transition: all 0.3s ease-in-out;
}

.menu .sub-menu li:hover >a
{
    background-color: #55595c;
    color: #fff;
    transition-delay: 0.2s;
}

.menu .sub-menu .sub-menu
{
    width: 170px;
}

.menu .sub-menu .sub-menu .sub-menu
{
    width: 210px;
}

.menu .sub-menu :first-child
{
    margin-top: -15px;
}

.menu .sub-menu :nth-child(2)
{
    margin-top: 15px;
}

.menu .sub-menu :nth-child(3)
{
    margin-top: 15px;
}

.menu .sub-menu :nth-child(4)
{
    margin-top: 15px;
}

.menu .sub-menu :nth-child(5)
{
    margin-top: 15px;
}

.menu .sub-menu :nth-child(6)
{
    margin-top: 15px;
}

.menu .sub-menu :nth-child(7)
{
    margin-top: 15px;
}

.menu .sub-menu :nth-child(8)
{
    margin-top: 15px;
}

/* phần nội dung */


/* footer */
.r1
{
    float: left;
    height: 342px;
    width: 227px;
    margin-top:50px;
    margin-left: 50px;
 
}

.logo1
{
    width: 200px;
    height: 75px;
}

.r2
{
    float: left;
    height: 500px;
    width: 200px;
    margin-top: 30px;
 
}


.rr2
{
    color: #121111;
    text-decoration: none;
}

.rr2:hover
{
    color: #429ccd;
    text-decoration: none;
}

.bct
{
    width: 195px;
    height: 80px;
}
.r3
{
    float: left;
    height: 400px;
    width: 210px;
    margin-top: 30px;  
}
.rr3:hover
{
    color: rgb(32, 30, 30);
}
.r4
{
    float: left;
    height: 400px;
    width: 320px;
    margin-top: 30px;
   
}

.r5
{
    width: 850px;
    margin-top: 150px;
    margin-left: -455px;
}

r5
{
    position: absolute;
    float: left;
    background-color: aqua;
    margin-right: 20px;
    margin-top: -221px;
    height: 30px;
    width: 850px;
 
}


.bando
{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid;
    border: 3px solid #ffcccc;
    box-shadow: 0px 0px 5px 3px #999999;
    height: 127px;
    width: 300px;
    line-height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
}
.icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    gap: 20px;
    margin-left: -60px;
    margin-top: -30px;
 
}
.icon>i
{
    line-height: 90px;
}
.nen-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: white;
    color: #121111;
    border-radius: 40px;

}
.nen-icon-insta
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 40px;

}
.nen-icon-yt
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 40px;

}
.tt-icon
{
    text-decoration: none;
    color: black;

} 
.footer
{   
    width: 100%;
    margin-top: 5%;
    position: absolute;
    background-color: #f5f5f7;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0 100px;
    height: 650px;
    right: 0;
    left: 0;
}

.maincontent
{
    position: absolute;
    margin-top: 180px;
    margin-left: 170px;
    z-index: 1;
}

a.text-danger:hover 
{
    text-decoration: none; /* Bỏ gạch chân khi hover */
}

.wapper_review_product{
    width: 100%;
    min-height: 100vh;
    min-width: 1200px;
    position: relative;
}

.wapper_review_product .container_review_product{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 200px;
    
}

.wapper_review_product .container_review_product .review{
    padding: 20px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    margin: 25px 0 25px 0;
    
}

.wapper_review_product .container_review_product .review span:first-child{
    font-size: 13px;
    text-decoration: line-through;
}
.wapper_review_product .container_review_product .review span:last-child{
    color: red;
}
.wapper_review_product .container_review_product td{
    width: 50%;
    height: 350px;
    padding: 0 50px 0 0;
}
.wapper_review_product .container_review_product img{
    width: 80%;
    height: 350px;
    border-radius: 6px;
    margin-left: 100px;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box_form_buy{
    width: 120px;
    position: relative;
    left: -25px;
}
.max_in, .mini_in{
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    }
.max_in{
    position: relative;
    left: -5px;
}
.mini_in{
    position: relative;
    left: 5px;
}
#number_in
{
    width: 40px;
    height: 25px;
    text-align: center;
    outline: none;
    margin: 0;
    padding: 0;
    border-color:#ddd #ddd;
    border-style: solid;
    border-left: 1px;
    border-right: 1px;
}
#ThemSP
{   
    position: relative;
    left: -25px;
    width: 120px;
    height: 30px;
    border:none ;
    color: white;
    background-color: red;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600px;
    border: 1px solid black;
    transition: all 0.5s;
}
#BuySp
{  
    position: relative;
    left: -20px;
    width: 100px;
    height: 30px;
    border:none ;
    color: white;
    background-color:red;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600px;
    border: 1px solid black;
    transition: all 0.5s;
}
#BuySp:hover
{
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}
#ThemSP:hover
{
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

.showpr .row
{
    background-color: #f0ecec;
    width: 100%;
    padding: 4px;
    margin-left: 1%;
}
.showpr .row:hover 
{
    background-color: #f5f5f5;
}

.card:hover 
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sell
{
    position: absolute;
    background-color: #00483d;
    top: 0px;
    width: 220px;
    left: 0;
    color: #e4e616;
    text-align: center;
    border-radius: 7px;
}
.price
{
    display: flex;
}
.product .monney
{
    color: #bf0000;
}
.product .card
{
    border-radius: 10px;
}

.card-title
{
    font-size: 14px;
}

.col-md-6 >p
{
    font-size: 12px;
    padding-top: 5px;
}


#credit{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: rgba(128, 128, 128, 0.578);
    width: 100%;height: 100%;
    z-index: 1;
}
#credit_wap1{
    padding: 20px;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
}
#credit_wap2{
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}
#credit_wap1 form{
    display: block;
}
#credit_wap1 form input[type=text]{
    padding: 10px;
    width: 100%;
    outline: none;
    margin: 10px;
    margin-left: 0;
    box-sizing: border-box;
}
#credit_wap1 form input[type=text]:focus{
    border: 2px solid green;
}
#credit_wap1 form input[type=radio]{
   cursor: pointer;
}
#namesp{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 15px;
    font-weight: bold;

}
#pricesp
{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px; 
    font-size: 20px;
    width: 65%;
    color: red;
}
#phanhoi{
    margin-top: 5px;
    height: 50px;
    width: 100%;
    color: red;
    padding: 10px;
    font-weight: bold ;
}
#credit_wap1 form button{
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    outline: none; 
    cursor: pointer;
}
#img_sp{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
}
#img_sp img{
    width: 100%;
    height: 240px;
    border-radius: 10px;
}
#sluong{
    display: inline-block;
    width: 70%;
    text-align: end;
    font-size: 20px;
}

.modal-dialog
{
    max-width: 800px;
}


/* phần liên hệ */

.lienhe
{
    z-index: 99;
}

.phone-icon
{
    border-radius: 50%;
    box-shadow: 0 3px 10px #888;
    background-size: 70%;
    background-color: #34dc51;
    padding: 3px;
}

.zalo-icon
{
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 3px 10px #888;
    background-size: 70%;
    background-color: #0084ff;
    padding: 3px;
}

.mess-icon
{
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 3px 10px #888;
    background-size: 70%;
    background-color: #ffffff;
    padding: 3px;
}